h1{color:#9988aa;}
/**{
 border:solid;
}*/
.header
{
background-color: #88ff88;
display:flex;
justify-content: space-between;
}

.grid
{
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
background-color: #deb887;
}

.footer
{
display:flex;
justify-content: flex-end;
background-color: #ff00ff;
}

p,h2{
text-align: center;
}

body{
background-color: #444488;
}

.item
{
background-color: #ff8c00;
}